In [1]:
# Dependencies
import json
import pandas as pd
import numpy as np
import re

In [2]:
# Import json file
file_dir = "./"
filename = "Data/wikipedia-movies.json"
filepath = f'{file_dir}{filename}'

In [3]:
# Load raw JSON file
with open(filepath, mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
# Some checks
len(wiki_movies_raw)
wiki_movies_raw[:5]
wiki_movies_raw[-5:]
wiki_movies_raw[3500:3505]

[{'url': 'https://en.wikipedia.org/wiki/Milwaukee,_Minnesota',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0285727/',
  'title': 'Milwaukee, Minnesota',
  'Directed by': 'Allan Mindel',
  'Produced by': ['Michael J. Brody', 'Jeff Kirshbaum'],
  'Written by': 'R.D. Murphy',
  'Starring': ['Troy Garity', 'Alison Folland', 'Bruce Dern', 'Randy Quaid'],
  'Music by': ['Michael Convertino', 'Bobby Muzingo'],
  'Cinematography': 'Bernd Heinl',
  'Edited by': 'David Rawlins',
  'Release date': ['January 24, 2003',
   '(',
   '2003-01-24',
   ')',
   '(',
   'Slamdance Film Festival',
   ')'],
  'Running time': '95 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/The_Missing_(2003_film)',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0338188/',
  'title': 'The Missing',
  'Directed by': 'Ron Howard',
  'Produced by': ['Brian Grazer', 'Ron Howard', 'Daniel Ostroff'],
  'Written by': 'Ken Kaufman',
  'Based on': ['The Last Ride', 'by', 'Thomas Eidson'],
  'Starring': ['Tommy Lee Jones',
   'Cate Blanchett',
   'Evan Rachel Wood',
   'Jenna Boyd',
   'Aaron Eckhart',
   'Val Kilmer'],
  'Music by': 'James Horner',
  'Cinematography': 'Salvatore Totino',
  'Edited by': ['Daniel P. Hanley', 'Mike Hill'],
  'Productioncompany ': ['Revolution Studios', 'Imagine Entertainment'],
  'Distributed by': 'Columbia Pictures',
  'Release date': ['November 26, 2003', '(', '2003-11-26', ')'],
  'Running time': '137 minutes',
  'Country': 'United States',
  'Language': ['English', 'Spanish', 'Apache'],
  'Budget': '$60 million',
  'Box office': '$38.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Mona_Lisa_Smile',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0304415/',
  'title': 'Mona Lisa Smile',
  'Directed by': 'Mike Newell',
  'Produced by': ['Elaine Goldsmith-Thomas',
   'Deborah Schindler',
   'Paul Schiff'],
  'Written by': ['Lawrence Konner', 'Mark Rosenthal'],
  'Starring': ['Julia Roberts',
   'Kirsten Dunst',
   'Julia Stiles',
   'Maggie Gyllenhaal',
   'Topher Grace'],
  'Music by': 'Rachel Portman',
  'Cinematography': 'Anastas Michos',
  'Edited by': 'Mick Audsley',
  'Productioncompany ': ['Revolution Studios', 'Red Om Films Productions'],
  'Distributed by': ['Columbia Pictures', 'Sony Pictures Releasing'],
  'Release date': ['December 19, 2003', '(', '2003-12-19', ')'],
  'Running time': '117 minutes',
  'Country': 'United States',
  'Language': ['English', 'Italian'],
  'Budget': '$72.3 million',
  'Box office': '$141.3 million'},
 {'url': 'https://en.wikipedia.org/wiki/Monster_(2003_film)',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0340855/',
  'title': 'Monster',
  'Directed by': 'Patty Jenkins',
  'Produced by': ['Charlize Theron',
   'Mark Damon',
   'Clark Peterson',
   'Donald Kushner',
   'Brad Wyman'],
  'Written by': 'Patty Jenkins',
  'Starring': ['Charlize Theron',
   'Christina Ricci',
   'Bruce Dern',
   'Lee Tergesen'],
  'Music by': 'BT',
  'Cinematography': 'Steven Bernstein',
  'Edited by': ['Arthur Coburn', 'Jane Kurson'],
  'Productioncompanies ': ['Denver & Delilah Films', 'K/W Productions'],
  'Distributed by': 'Newmarket Films',
  'Release date': ['November 16, 2003',
   '(',
   '2003-11-16',
   ')',
   '(',
   'AFI Film Fest',
   ')',
   'December 24, 2003',
   '(',
   '2003-12-24',
   ')',
   '(United States)',
   'April 15, 2004',
   '(',
   '2004-04-15',
   ')',
   '(Germany)'],
  'Running time': '109 minutes',
  'Country': ['United States', 'Germany'],
  'Language': 'English',
  'Budget': '$8 million',
  'Box office': '$60.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Monster_Man_(film)',
  'year': 2003,
  'imdb_link': 'https://www.imdb.com/title/tt0365513/',
  'title': 'Monster Man',
  'Directed by': 'Michael Davis',
  'Produced by': 'Larry Rattner',
  'Written by': 'Michael Davis',
  'Starring': ['Eric Jungmann',
   'Justin Urich',
   'Aimee Brooks',
   'Michael Bailey Smith'],
  'Music by': 'John Coda',
  'Cinematography': 'Matthew Irving',
  'Edited by': 'Kevin D. Ross',
  'Productioncompany ': 'Dream Entertainment',
  'Distributed by': 'Lions Gate Films',
  'Release date': ['July 30, 2003',
   '(',
   '2003-07-30',
   ')',
   '(MÃ¼nchen Fantasy Filmfest)',
   'February 13, 2004',
   '(',
   '2004-02-13',
   ')'],
  'Running time': '88 minutes',
  'Country': 'United States',
  'Language': 'English'}]

In [6]:
kaggle_metadata = pd.read_csv(f'{file_dir}Data/movies_metadata.csv', low_memory=False)
#kaggle_metadata.info()

In [7]:
ratings = pd.read_csv(f'{file_dir}Data/ratings.csv')
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [8]:
# Step 1.  Module 8.3.3 -- filter only movies with imdb ratings
wiki_movies = [movie for movie in wiki_movies_raw
                if ('Director' in movie or 'Directed by' in movie)
                      and 'imdb_link' in movie
                      and 'No. of episodes' not in movie]
wiki_movies_df = pd.DataFrame(wiki_movies)
wiki_movies_df.head()
len(wiki_movies_df.columns.tolist())

75

In [9]:
#wiki_movies_df = pd.DataFrame(wiki_movies_raw)
sorted(wiki_movies_df.columns.tolist())

['Adaptation by',
 'Also known as',
 'Animation by',
 'Arabic',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cantonese',
 'Chinese',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Director',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'French',
 'Genre',
 'Hangul',
 'Hebrew',
 'Hepburn',
 'Japanese',
 'Label',
 'Language',
 'Length',
 'Literally',
 'Mandarin',
 'McCuneâReischauer',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Original title',
 'Picture format',
 'Polish',
 'Preceded by',
 'Produced by',
 'Producer',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Recorded',
 'Release date',
 'Released',
 'Revised Romanization',
 'Romanized',
 'Running time',
 'Russian',
 'Screen story by',
 'Screenplay by',
 'Simplified',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Traditional',
 'Venue',
 'Voices of',
 'Written by',
 'Yiddish',
 'imdb_link',
 'title',
 'url',
 'year']

In [ ]:
wiki_movies_df[wiki_movies_df['Revised Romanization'].notnull()]['Revised Romanization']

In [10]:
# Function to clean each movie
def clean_movie(movie):
    movie = dict(movie)  # Create a non-destructive copy
    
    # Consolidate alternative names
    alt_titles = {}
    title_keys = ['Also known as','Arabic', 'Cantonese', 'Chinese', 'French', 'Hangul', 'Hebrew', 'Hepburn', 'Japanese', 'Literally',
                  'Mandarin', 'McCuneâReischauer', 'Original title', 'Polish', 'Revised Romanization', 'Romanized',
                  'Russian', 'Simplified', 'Traditional', 'Yiddish']
    for key in title_keys:
        if key in movie:
            alt_titles[key]=movie[key]
            movie.pop(key)
    if len(alt_titles)>0:
        movie['alt_titles']=alt_titles
    
    # Used to consolidate/change columns
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
            
    change_column_name('Directed by','Director')
    change_column_name('Adaptation by','Writer(s)')
    change_column_name('Country of origin','Country')
    change_column_name('Distributed by','Distributor')
    change_column_name('Edited by','Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    
    return movie

In [11]:
wiki_movies_df[wiki_movies_df['Arabic'].notnull()]

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
6834,https://en.wikipedia.org/wiki/The_Insult_(film),2018,https://www.imdb.com/title/tt7048622/,The Insult,Ziad Doueiri,"[Rachid Bouchareb, Jean BrÃ©hat, Julie Gayet, A...",NaN,NaN,NaN,"[Adel Karam, Kamel El Basha]",...,NaN,Case No. 23,NaN,NaN,NaN,ÙØ¶ÙØ© Ø±ÙÙ Ù¢Ù£,Qadiyya raqm 23,NaN,NaN,NaN
7058,https://en.wikipedia.org/wiki/Capernaum_(film),2018,https://www.imdb.com/title/tt8267604/,Capernaum,Nadine Labaki,"[Michel Merkt, Khaled Mouzanar]","[Nadine Labaki, Jihad Hojaily, Michelle Keserw...","[Georges Khabbaz, Nadine Labaki, Michelle Kese...",NaN,"[Zain Al Rafeea, Yordanos Shiferaw, Boluwatife...",...,NaN,NaN,NaN,NaN,NaN,Ú©ÙØ±ÙØ§Ø­ÙÙ â,NaN,NaN,NaN,NaN

In [12]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [13]:
wiki_movies_df['imdb_id']=wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(f'Original: {len(wiki_movies_df)}')
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(f'Without duplicates: {len(wiki_movies_df)}')
wiki_movies_df.head()

Original: 7076
Without duplicates: 7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Created by,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet","[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [14]:
wiki_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7033 entries, 0 to 7075
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     7033 non-null   object
 1   year                    7033 non-null   int64
 2   imdb_link               7033 non-null   object
 3   title                   7032 non-null   object
 4   Based on                2181 non-null   object
 5   Starring                6849 non-null   object
 6   Narrated by             281 non-null    object
 7   Cinematography          6342 non-null   object
 8   Release date            7001 non-null   object
 9   Running time            6894 non-null   object
 10  Country                 6797 non-null   object
 11  Language                6789 non-null   object
 12  Budget                  4738 non-null   object
 13  Box office              5485 non-null   object
 14  Director                7033 non-null   object
 15  Distributor             6676 non-null   object
 16  Editor(s)               6485 non-null   object
 17  Composer(s)             6515 non-null   object
 18  Producer(s)             6831 non-null   object
 19  Production company(s)   5355 non-null   object
 20  Writer(s)               6834 non-null   object
 21  Genre                   110 non-null    object
 22  Original language(s)    158 non-null    object
 23  Original network        125 non-null    object
 24  Executive producer(s)   97 non-null     object
 25  Production location(s)  47 non-null     object
 26  Picture format          64 non-null     object
 27  Audio format            61 non-null     object
 28  Voices of               2 non-null      object
 29  Followed by             9 non-null      object
 30  Created by              10 non-null     object
 31  Preceded by             10 non-null     object
 32  Suggested by            1 non-null      object
 33  alt_titles              21 non-null     object
 34  Recorded                2 non-null      object
 35  Venue                   1 non-null      object
 36  Label                   2 non-null      object
 37  Animation by            2 non-null      object
 38  Color process           1 non-null      object
 39  imdb_id                 7033 non-null   object
dtypes: int64(1), object(39)
memory usage: 2.2+ MB

In [15]:
[[column, wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4852],
 ['Starring', 184],
 ['Narrated by', 6752],
 ['Cinematography', 691],
 ['Release date', 32],
 ['Running time', 139],
 ['Country', 236],
 ['Language', 244],
 ['Budget', 2295],
 ['Box office', 1548],
 ['Director', 0],
 ['Distributor', 357],
 ['Editor(s)', 548],
 ['Composer(s)', 518],
 ['Producer(s)', 202],
 ['Production company(s)', 1678],
 ['Writer(s)', 199],
 ['Genre', 6923],
 ['Original language(s)', 6875],
 ['Original network', 6908],
 ['Executive producer(s)', 6936],
 ['Production location(s)', 6986],
 ['Picture format', 6969],
 ['Audio format', 6972],
 ['Voices of', 7031],
 ['Followed by', 7024],
 ['Created by', 7023],
 ['Preceded by', 7023],
 ['Suggested by', 7032],
 ['alt_titles', 7012],
 ['Recorded', 7031],
 ['Venue', 7032],
 ['Label', 7031],
 ['Animation by', 7031],
 ['Color process', 7032],
 ['imdb_id', 0]]

In [16]:
# Columns to keep have less than 90% null values
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum()<len(wiki_movies_df)*0.9]

['url',
 'year',
 'imdb_link',
 'title',
 'Based on',
 'Starring',
 'Cinematography',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Director',
 'Distributor',
 'Editor(s)',
 'Composer(s)',
 'Producer(s)',
 'Production company(s)',
 'Writer(s)',
 'imdb_id']

In [17]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [18]:
len(wiki_movies_df.columns)

21

In [19]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [20]:
wiki_movies_df.sample(10)[['Box office','Budget','Release date','Running time']]

,Box office,Budget,Release date,Running time
3019,$3.8 million,"$250,000","[January 12, 2002, (, 2002-01-12, )]",101 minutes
1921,$252.7 million,$85 million,"[June 15, 1997, (, 1997-06-15, ), (, New Amste...",93 minutes
4700,$106 million,$40 million,"[May 2, 2008, (, 2008-05-02, )]",101 minutes
4407,NaN,NaN,"[September 9, 2007, (, 2007-09-09, ), (Toronto...",110 minutes
3342,$180.9 million,$30 million,"[October 10, 2003, (, 2003-10-10, )]",111 minutes
7015,"[$435, million, [7]]","[$36, million, [6]]","[August 31, 2018, (, 2018-08-31, ), (, Venice,...",136 minutes
2713,$32.2 million,$42 million,"[February 25, 2000, (, 2000-02-25, )]",104 minutes
1934,"$63,856,929",$35 million,"[September 19, 1997, (, 1997-09-19, )]",92 minutes
1117,$11.3 million,$28 million,"[April 1, 1994, (, 1994-04-01, ), (United Stat...",86 minutes
6416,$109.8 million,$75â84 million,"[August 2, 2015, (, 2015-08-02, ), (, Barcelon...",116 minutes

In [21]:
box_office = wiki_movies_df['Box office'].dropna()
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [22]:
#def is_not_a_string(x):
#    return type(x) != str
#box_office[box_office.map(is_not_a_string)]


box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [23]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x)==list else x)
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [24]:
form_one = r'\$\d+\.?\d*\s*[mb]illion'
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3896

In [25]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1544

In [26]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

box_office[(~matches_form_one) & (~ matches_form_two)].count()

47

In [29]:
#update matching patterns
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [28]:
# replace hyphens
box_office = box_office.str.replace(r'\$.*[-ââ](?![a-z])', '$', regex=True)

In [32]:
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)
box_office[(~matches_form_one) & (~ matches_form_two)]

600                      $5000 (US)
1070                     35,254,617
1480                     Â£3 million
1865                   Â¥1.1 billion
2032                            N/A
2091                           $309
2665    926,423 admissions (France)
3631                            TBA
3879       CNÂ¥3.650 million (China)
4116                     Â£7,385,434
4306                            $30
4561        $45.2k (only in Turkey)
5447                          Â£2.56
5784                       413 733$
6013                        Unknown
6369                          $111k
6370                           $588
6593                 less than $372
6843                        8 crore
Name: Box office, dtype: object

In [33]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0
0     $21.4 million
1      $2.7 million
2       $57,718,089
3        $7,331,647
4        $6,939,946
...             ...
7070  $19.4 million
7071  $41.9 million
7072  $76.1 million
7073  $38.4 million
7074   $5.5 million

[5485 rows x 1 columns]

In [34]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [35]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [38]:
wiki_movies_df[['Box office','box_office']].sample(10)

            Box office   box_office
6275               NaN          NaN
6447           $26,799      26799.0
4848     $9.44 million    9440000.0
615        $14,715,067   14715067.0
3784    $162.9 million  162900000.0
2207  $10,459,961 (US)   10459961.0
1811               NaN          NaN
1134     $50.0 million   50000000.0
4499     $92.6 million   92600000.0
377      $59.5 million   59500000.0

In [39]:
# delete original column
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [40]:
# similar treatment for Budget column
budget = wiki_movies_df['Budget'].dropna()
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)
budget = budget.str.replace(r'\$.*[-ââ](?![a-z])', '$', regex=True)

In [43]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

136                         Unknown
204     60 million Norwegian Kroner
478                         Unknown
973             $34 [3] [4] million
1126               $120 [4] million
1226                        Unknown
1278                            HBO
1374                     Â£6,000,000
1397                     13 million
1480                   Â£2.8 million
1734                   CAD2,000,000
1913     PHP 85 million (estimated)
1948                    102,888,900
1953                   3,500,000 DM
1973                     â¤2,300,874
2281                     $14 milion
2451                     â¤6,350,000
3144                   â¬ 40 million
3360               $150 [6] million
3418                        $218.32
3802                   Â£4.2 million
3906                            N/A
3959                    760,000 USD
4470                       19 crore
4641                    Â£17 million
5034              $$200 [4] million
5055           $155 [2] [3] million
5419                $40 [4] million
5424                            N/A
5447                     Â£4 million
5671                    â¬14 million
5687                   $ dead link]
6385               Â£ 12 million [3]
6593                     Â£3 million
6821                  Â£12.9 million
6843                      3.5 crore
6895                        919,000
7070                   â¬4.3 million
Name: Budget, dtype: object

In [45]:
#replace [2] citations
budget = budget.str.replace(r'\[\d+\]\s*', '')
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two].count()

32

In [46]:
# create new column
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [47]:
# drop original column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [51]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x)==list else x)
release_date[0:5]

0                         July 11, 1990 ( 1990-07-11 )
1    May 17, 1990 ( 1990-05-17 ) (Cannes Film Marke...
2                       August 10, 1990 ( 1990-08-10 )
3                     December 25, 1990 ( 1990-12-25 )
4                                    December 19, 1990
Name: Release date, dtype: object

In [52]:
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [53]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073               2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [54]:
# parse.  notice use of to_datetime function.
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [55]:
# compare release date w/ original
wiki_movies_df[['release_date','Release date']]

     release_date                                       Release date
0      1990-07-11                  [July 11, 1990, (, 1990-07-11, )]
1      1990-05-17  [May 17, 1990, (, 1990-05-17, ), (Cannes Film ...
2      1990-08-10                [August 10, 1990, (, 1990-08-10, )]
3      1990-12-25              [December 25, 1990, (, 1990-12-25, )]
4      1990-12-19                                  December 19, 1990
...           ...                                                ...
7071   2018-12-25  [December 25, 2018, (, 2018-12-25, ), (United ...
7072   2018-12-11  [December 11, 2018, (, 2018-12-11, ), (, Samue...
7073   2018-01-01  [November 8, 2018, (, 2018-11-08, ), (, AFI Fe...
7074   2018-08-31  [August 31, 2018, (, 2018-08-31, ), (, Telluri...
7075   2018-12-01               [28 December 2018, (, 2018-12-28, )]

[7033 rows x 2 columns]

In [56]:
# Parse running time
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)
running_time

0                                 102 minutes
1                                 114 minutes
2                                 113 minutes
3                                 106 minutes
4                                  95 minutes
                        ...
7071                               90 minutes
7072                              132 minutes
7073                              120 minutes
7074                              123 minutes
7075    Variable; 90 minutes for default path
Name: Running time, Length: 6894, dtype: object

In [61]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

6528

In [63]:
#check the rest
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) !=True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [67]:
#update the form
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) !=True]

668                     UK:84 min (DVD version) US:86 min
727                         78-102 min (depending on cut)
840                       Varies (79 [3] â84 [1] minutes)
1347                                              25 : 03
1443    United States: 77 minutes Argentina: 94 minute...
1499                                            1hr 35min
1551                                               varies
1774                    Netherlands:96 min, Canada:95 min
1777                                       approx. 14 min
2273                                           1 h 43 min
2993                                               1h 48m
3925                                              4 hours
4425    US domestic version: 86 minutes Original versi...
4967    Theatrical cut: 97 minutes Unrated cut: 107 mi...
5424                    115 [1] /123 [2] /128 [3] minutes
5447                                    1 hour 32 minutes
7075                Variable; 90 minutes for default path
Name: Running time, dtype: object

In [76]:
# 2 patters to extract
#(\d+)\s*ho?u?r?s?\s*(\d*)      --capture only the digits
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
running_time_extract

        0    1    2
0     NaN  NaN  102
1     NaN  NaN  114
2     NaN  NaN  113
3     NaN  NaN  106
4     NaN  NaN   95
...   ...  ...  ...
7071  NaN  NaN   90
7072  NaN  NaN  132
7073  NaN  NaN  120
7074  NaN  NaN  123
7075  NaN  NaN   90

[6894 rows x 3 columns]

In [92]:
#convert strings to numbers.  "coerce" in case of errors, change to 0 any NaN
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [103]:
#check if there any any hrs and mins.
running_time_extract.loc[(running_time_extract[0]!= 0) | (running_time_extract[1]!= 0)]

        0     1    2
1499  1.0  35.0  0.0
2273  1.0  43.0  0.0
2993  1.0  48.0  0.0
3925  4.0   0.0  0.0
5447  1.0  32.0  0.0

In [104]:
#convert to single value
wiki_movies_df['running time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2]==0 else row[2], axis=1)

In [107]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)